@use "../../utils/functions/"as*;
@use "../../utils/mixins/"as*;

.reviews {
  padding: rem(64) 0;

  svg {
    max-height: 24px;
    margin-bottom: 16px;
  }

  p {
    margin-bottom: rem(48);
    color: var(--color-gray-780);
  }

  h3 {
    font-size: 20px;
    text-align: right;
  }
}