@use "../../utils/functions/"as*;
@use "../../utils/mixins/"as*;

.reviews {
  overflow: hidden;
  padding: rem(83) 0;
  max-width: 100%;

  &__slider {
    margin-bottom: rem(65);
  }

  &__slide {
    display: flex;
    width: 100% !important;
    height: auto !important;
    opacity: 0;
    visibility: hidden;

    &.swiper-slide-active {
      opacity: 1;
      visibility: visible;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-right: 22px;
    border-radius: calc(var(--radius-main) * 2);
    padding: rem(32);
    width: 100%;
    max-width: 480px;
    background-color: var(--color-gray-400);
  }

  &__header {
    display: flex;
    margin-bottom: rem(23);
  }

  &__avatar {
    margin-right: 25px;
    border-radius: 100%;
    width: 64px;
    height: 64px;
  }

  &__image {
    overflow: hidden;
    border-radius: calc(var(--radius-main) * 2);
    width: 100%;
    max-width: 670px;

    img {
      height: 100%;
    }
  }

  &__btns {
    display: flex;
    margin-top: auto;

    .btn {
      border: none;
      padding: 14px 18px;
      width: auto;
      min-width: auto;

      &::after {
        right: 0;
      }

      &:not(:last-child) {
        margin-right: 20px;
      }

      &.swiper-button-disabled {
        border-color: var(--color-gray-650);
        background-color: var(--color-gray-650);
        pointer-events: none;
      }

      &--prev {
        scale: -1 1;
      }
    }
  }

  &__btn {
    margin: 0 auto;
  }

  h2 {
    margin: 0 auto rem(30);
  }

  h3 {
    margin-bottom: 10px;
    font-family: var(--font-family-primary);
    font-weight: var(--fw-500);
    font-size: 24px;
  }

  p {
    margin-bottom: 30px;
    font-size: 20px;
    color: var(--color-gray-700);
  }

  svg {
    max-height: 20px;
  }

  .swiper-scrollbar {
    display: none;
  }

  .swiper-scrollbar-drag {
    background-color: var(--color-tile-800);
  }

  @include media(tablet) {
    padding: rem(60) 0;

    &__slider {
      margin-bottom: 0;
    }
  }

  @include media(mobile-l) {
    &__slide {
      display: block;
      align-items: center;
    }

    &__image {
      margin-bottom: 12px;
      max-width: 500px;
    }

    &__content {
      margin: 0 0 20px;
      padding: 20px;
      max-width: 500px;
    }
  }

  @include media(mobile-m) {
    &__btns {
      display: none;
    }

    .swiper-scrollbar {
      position: relative !important;
      margin-top: 16px;
      display: block;
    }
  }
}