@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.about {

  &__inner {
    padding: rem(24);
    min-height: 682px;
    overflow: hidden;
    border-radius: var(--radius-main);

    @include cover-background();
  }

  &__box {
    max-width: 572px;
    width: 100%;
    padding: rem(24);
    background-color: var(--color-white);
    border-radius: var(--radius-main);
  }

  h2 {
    margin-bottom: rem(16);
  }

  p {
    &:not(:last-of-type) {
      margin-bottom: rem(24);
    }
  }

  &__text {
    margin-bottom: rem(32);
  }

  &--home {
    .about__box {
      max-width: 489px;
    }

    .btn {
      min-width: 231px;
    }
  }

  &--mission {
    padding: rem(88) 0 rem(113);

    .about__inner {
      margin-bottom: rem(24);
    }
  }

  @include media(tablet) {
    &__inner {
      min-height: auto;
    }
  }

  @include media(mobile-l) {
    &__inner {
      background-size: 75%;
      background-position: 100% 0;
      padding: rem(88) 12px 12px 12px;
    }

    &__box {
      box-shadow: var(--shadow-secondary);
    }

    .btn {
      min-width: 100%;
    }
  }

  @include media(mobile-s) {
    &__inner {
      background-size: 85%;
      padding-top: rem(100);
    }
  }
}