@use "../utils/functions/"as*;
@use "../utils/mixins"as*;

.btn {
  padding: 22px 24px;
  border: 2px solid var(--color-milk-100);
  border-radius: var(--radius-main);
  background-color: var(--color-milk-100);
  transition-property: background-color, color, border-color;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;

  &--reverse,
  &:hover {
    color:var(--color-white);
    background-color: var(--color-blue-400);
    border-color: var(--color-blue-400);
  }

  &--reverse {
    padding: 22px;
  }

  &--reverse:hover {
    background-color: var(--color-milk-100);
    color: var(--color-gray-700);
  }
}