@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;

  &__item {
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
    padding: rem(24);
    background-color: var(--color-milk-100);
    border-radius: var(--radius-main);
  }

  h3 {
    margin-bottom: 8px;
    line-height: 1.5;
    letter-spacing: 0;
  }

  &__decore {
    font-weight: var(--fw-700);
    font-size: clamp(32px, 2rem + 2vi, 48px);
    line-height: 1.25;
    color: var(--color-blue-400);
    letter-spacing: 0.17rem;
    margin-bottom: (32);
  }

  &__icon {
    position: relative;
    padding-top: 96px;

    &::before {
      @include cover-background();

      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 64px;
      width: 64px;
    }
  }

  &__icon--star {
    &::before {
      background-image: var(--icon-star);
    }
  }

  &__icon--check {
    &::before {
      background-image: var(--icon-check);
    }
  }

  &__icon--heart {
    &::before {
      background-image: var(--icon-heart);
    }
  }

  &--four {
    grid-template-columns: repeat(4, 1fr);

    @include media(tablet) {
      grid-template-columns: repeat(2, 1fr);

      .cards__item:last-of-type {
        grid-column: auto;
        width: 100%;
      }
    }
  }

  &--two {
    grid-template-columns: repeat(2, 1fr);

    .cards__item {
      padding-block: rem(24) rem(44);
      grid-auto-rows: max-content;
    }

    @include media(tablet) {
      .cards__item:last-of-type {
        grid-column: auto;
        width: 100%;
      }
    }
  }

  &--pseudo {
    counter-reset: counter;

    .cards__decore {
      position: relative;
      padding-top: 60px;

      &::before {
        content: '0' counter(counter);
        counter-increment: counter;
        position: absolute;
        left: 0;
        top: 0;
      }
    }

  }

  @include media(tablet) {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;

    &__item {
      width: 100%;

      &:last-of-type {
        justify-self: center;
        grid-column: 1/4;
        width: 48%;
      }
    }

    &__icon {
      padding-top: 66px;

      &::before {
        height: 48px;
        width: 48px;
      }
    }

    &__decore {
      margin-bottom: 20px;
    }
  }

  @include media(mobile-l) {
    grid-template-columns: 1fr;
    justify-items: center;
    grid-auto-rows: auto;

    &__item {
      &:last-of-type {
        grid-column: auto;
        width: 100%;
      }
    }

    &__icon {
      font-weight: var(--fw-600);
    }
  }

}