@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;

  &__item {
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
    padding: rem(24);
    background-color: var(--color-milk-100);
    border-radius: var(--radius-main);
  }

  h3 {
    margin-bottom: 8px;
    line-height: 1.5;
    letter-spacing: 0;
  }

  &__decore {
    font-weight: var(--fw-700);
    font-size: clamp(32px, 2rem + 2vi, 48px);
    line-height: 1.25;
    color: var(--color-blue-400);
    letter-spacing: 0.17rem;
    margin-bottom: (32);
  }

  &__icon {
    position: relative;
    padding-top: 96px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 64px;
      width: 64px;

      @include cover-background();
    }
  }

  &__icon--star {
    &::before {
      background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30.9275 50.9024C31.582 50.4866 32.418 50.4866 33.0725 50.9024L46.4721 59.4155C47.975 60.3704 49.8825 59.0331 49.4972 57.2947L45.8705 40.9304C45.7156 40.2312 45.9463 39.5024 46.4755 39.0198L58.6386 27.9284C59.9248 26.7556 59.2026 24.6133 57.4689 24.4585L41.6499 23.0458C40.9012 22.9789 40.2533 22.498 39.9726 21.8007L33.8553 6.60774C33.1826 4.93708 30.8174 4.93708 30.1447 6.60774L24.0274 21.8007C23.7467 22.498 23.0988 22.9789 22.3501 23.0458L6.53111 24.4585C4.79739 24.6133 4.07523 26.7556 5.36139 27.9284L17.5245 39.0198C18.0537 39.5024 18.2844 40.2312 18.1295 40.9304L14.5028 57.2947C14.1175 59.0331 16.025 60.3704 17.5279 59.4155L30.9275 50.9024Z' fill='%236DB4C1'/%3E%3C/svg%3E%0A");
    }
  }

  &__icon--check {
    &::before {
      background-image: url("data:image/svg+xml,%3Csvg width='65' height='64' viewBox='0 0 65 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.88665 32.8748C1.84468 33.9168 1.84468 35.6061 2.88665 36.6481L14.1874 47.9488C15.232 48.9934 16.9265 48.9904 17.9674 47.9422C19.0031 46.8991 19.0001 45.2149 17.9607 44.1755L6.65994 32.8748C5.61797 31.8328 3.92861 31.8328 2.88665 32.8748ZM61.3325 15.898C60.2867 14.8522 58.5911 14.8526 57.5458 15.8989L34.0058 39.4611C32.4426 41.0257 29.9064 41.0248 28.3443 39.4591L21.7547 32.8539C20.7152 31.812 19.0294 31.8051 17.9814 32.8384C16.9238 33.8813 16.9178 35.5859 17.9681 36.6362L28.3456 47.0137C29.9077 48.5758 32.4404 48.5758 34.0025 47.0137L61.3325 19.6838C62.3779 18.6384 62.3779 16.9434 61.3325 15.898ZM46.2562 19.6667C47.2956 18.6273 47.2986 16.9431 46.2629 15.9C45.222 14.8518 43.5275 14.8488 42.4829 15.8933L29.2807 29.0955C28.2362 30.1401 28.2392 31.8346 29.2874 32.8755C30.3305 33.9112 32.0147 33.9082 33.0541 32.8688L46.2562 19.6667Z' fill='%236DB4C1'/%3E%3C/svg%3E%0A");
    }
  }

  &__icon--heart {
    &::before {
      background-image: url("data:image/svg+xml,%3Csvg width='62' height='64' viewBox='0 0 62 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.66602 22.4025C4.66535 18.5367 6.21904 14.833 8.97752 12.1247C11.736 9.41636 15.4676 7.93088 19.3327 8.00247C23.9122 7.97815 28.282 9.92027 31.3327 13.3358C34.3834 9.92027 38.7532 7.97815 43.3327 8.00247C47.1978 7.93088 50.9294 9.41636 53.6878 12.1247C56.4463 14.833 58 18.5367 57.9993 22.4025C57.9993 36.6851 40.9887 47.4691 31.3327 56.0025C21.698 47.3971 4.66602 36.6958 4.66602 22.4025Z' fill='%236DB4C1'/%3E%3C/svg%3E%0A");
    }
  }

  &--four {
    grid-template-columns: repeat(4, 1fr);

    @include media(tablet) {
      grid-template-columns: repeat(2, 1fr);

      .cards__item:last-of-type {
        grid-column: auto;
        width: 100%;
      }
    }
  }

  &--two {
    grid-template-columns: repeat(2, 1fr);

    .cards__item {
      padding-block: rem(24) rem(44);
      grid-auto-rows: max-content;
    }

    @include media(tablet) {
      .cards__item:last-of-type {
        grid-column: auto;
        width: 100%;
      }
    }
  }

  @include media(tablet) {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;

    &__item {
      max-width: 456px;
      width: 100%;

      &:last-of-type {
        justify-self: center;
        grid-column: 1/4;
        width: 48%;
      }
    }

    &__icon {
      padding-top: 66px;

      &::before {
        height: 48px;
        width: 48px;
      }
    }

    &__decore {
      margin-bottom: 20px;
    }
  }

  @include media(mobile-l) {
    grid-template-columns: 1fr;
    justify-items: center;
    grid-auto-rows: auto;

    &__item {
      &:last-of-type {
        grid-column: auto;
        width: 100%;
      }
    }
  }

}