@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.featured {
  $root: &;

  &__grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    max-width: 493px;
    width: 100%;
  }

  h2 {
    margin-bottom: rem(24);
  }

  &__img {
    background-position: 100% 0;
    justify-self: flex-end;
    max-width: 596px;
    width: 100%;
    border-radius: var(--radius-main);

    @include cover-background();
  }

  &--reverse {
    .featured__grid {
      flex-direction: row-reverse;
    }
  }

  &--history {
    .featured__img {
      min-height: 646px;
    }
  }

  &--approach {
    .featured__img {
      min-height: 446px;
    }
  }
}