@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.footer {
  padding: rem(48) 0;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1336px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;

    @include media(mobile-l) {
      flex-direction: column-reverse;
      gap: 30px;
      text-align: center;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: rem(24);
    }
  }

  &__link {
    font-weight: var(--fw-600);
    line-height: 1.5;
  }
}