@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.services {

  &__wrapper {
    margin-bottom: rem(48);
  }

  img {
    max-width: 342px;
    width: 100%;
    margin-bottom: rem(24);
    border-radius: var(--radius-main);
  }

  h3 {
    text-transform: capitalize;
    margin-bottom: 8px;
  }
}