@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.services {

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }

  &__wrapper {
    margin-bottom: rem(48);
  }

  img {
    max-width: 342px;
    width: 100%;
    margin-bottom: rem(24);
    border-radius: var(--radius-main);
  }

  h3 {
    text-transform: capitalize;
    margin-bottom: 8px;
  }
}