@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.services {

  &__item {
    justify-content: space-between;
  }

  .btn {
    align-self: flex-end;
  }

  &__wrapper {
    margin-bottom: rem(48);
  }

  img {
    max-width: 342px;
    width: 100%;
    margin-bottom: rem(24);
    border-radius: var(--radius-main);
  }

  h3 {
    text-transform: capitalize;
    margin-bottom: 8px;
  }

  &__desc {
    margin-bottom: rem(24);
  }

  &__list {
    padding-left: rem(20);
  }

  &__list-item {
    display: list-item;
    padding-left: rem(10);
    list-style: disc;
    color: var(--color-gray-600);

    &:not(:last-of-type) {
      margin-bottom: 5px;
    }
  }

  &--list {
    .services__wrapper {
      margin-bottom: 0;
    }
  }


  @include media(tablet) {
    &__wrapper {
      display: grid;
      align-items: center;
      justify-items: center;
      text-align: center;
    }

    &__list {
      text-align: left;
    }

    img {
      max-width: 100%;
    }
  }
}