@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.special {

  &__title,
  &__desc {
    width: 74%;
    margin-bottom: rem(24);
  }

  &__slider {
    position: relative;
  }

  &__items {
    margin-bottom: rem(32);
  }

  &__item {
    display: flex;
    align-items: center;
    min-height: 682px;
    padding-left: rem(128);
    border-radius: var(--radius-main);

    @include cover-background();
  }

  &__content {
    max-width: 548px;
    width: 100%;
    padding: rem(24);
    background-color: var(--color-white);
    border-radius: var(--radius-main);
  }

  h3 {
    margin-bottom: 16px;
    font-size: clamp(32px, 2rem + 2vi, 48px);
    letter-spacing: 0.28rem;
    text-transform: capitalize;
  }

  &__img {
    max-width: 1216px;
    width: 100%;
    border-radius: var(--radius-main);
  }
}