@use "../../utils/functions/"as*;
@use "../../utils/mixins/"as*;

.faq {

  &__item {
    &:not(:last-child) {
      margin-bottom: rem(24);
    }
  }

  details {
    position: relative;
    padding-inline: 24px 106px;
    padding-block: 24px 6px;
    border: 2px solid var(--color-blue-400);
    border-radius: var(--radius-main);
    transition: height 0.3s ease-in;

    &::before {
      @include cover-background();

      content: "";
      position: absolute;
      right: 54px;
      top: 50%;
      transform: translateY(-50%);
      rotate: 180deg;
      overflow: hidden;
      width: 17px;
      height: 10px;
      background-image: var(--icon-faq);
    }

    &[open] {
      padding-bottom: 24px;

      &::before {
        rotate: -180deg;
      }
      summary {
        margin-bottom: rem(24);
      }
    }

    p {
      font-size: 16px;
      line-height: 1.15;
    }
  }

  summary {
    margin-bottom: 24px;
    font-weight: var(--fw-600);
    font-size: clamp(20px, 1rem + 1vi, 24px);
    line-height: 1.3;
    cursor: pointer;
    transition: margin-bottom 0.3s ease-in-out;
  }

  @include media(mobile-l) {
    details {
      padding-right: 44px;

      &::before {
        transform: translateY(0);
        rotate: 180deg;
        top: rem(34);
        right: 12px;
      }
    }
  }
}