@use "../../utils/functions/"as*;
@use "../../utils/mixins/"as*;

.team {

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(24);
  }

  &__card {
    padding: rem(24);
  }

  &__img {
    max-width: 342px;
    width: 100%;
    border-radius: var(--radius-medium);
    margin-bottom: rem(32);
  }

  &__name {
    font-size: 20px;
    line-height: 1.5;
    color: var(--color-blue-400);
    margin-bottom: 8px;
  }

}