@use "../../utils/functions/"as*;
@use "../../utils/mixins/"as*;

.contacts {
  h2 {
    margin-bottom: rem(32);
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 0 rem(24);
  }

  &__link {
    position: relative;
    display: block;
    padding-block: 14px;
    padding-inline: 86px 5px;
    font-weight: var(--fw-500);
    font-size: clamp(20px, 1rem + 1vi, 24px);
    line-height: 1.5;
    color: var(--color-gray-700);

    &::before {
      @include cover-background();

      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 64px;
      height: 64px;
    }

    &--mail::before {
      background-image: var(--icon-mail);
    }

    &--tel::before {
      background-image: var(--icon-tel);
    }

    &--hours::before {
      background-image: var(--icon-hours);
    }

    span {
      display: block;
      font-weight: var(--fw-600);
    }
  }

  @include media(tablet) {
    &__link {
      padding-left: 64px;

      &::before {
        width: 40px;
        height: 40px;
      }
    }
  }

  @include media(mobile-l) {
    &__link {
      padding-left: 48px;
      font-size: 18px;
    }
  }

  @include media(mobile-m) {
    &__items {
      grid-template-columns: 1fr;
    }
  }
}