@use "../../utils/functions/"as*;
@use "../../utils/mixins/"as*;

.contacts {

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: rem(24);
  }

  &__link {
    position: relative;
    padding-block: 14px;
    padding-inline: 86px 5px;
    font-weight: var(--fw-500);
    font-size: clamp(20px, 1rem + 1vi, 24px);
    line-height: 1.5;
    color: var(--color-gray-700);

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 64px;
      height: 64px;

      @include cover-background();
    }

    &--mail::before {
      background-image: url("data:image/svg+xml,%3Csvg fill='none' height='64' viewBox='0 0 64 64' width='64' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23494949'%3E%3Cpath d='m31.9987 56.6691h-13.3333c-9.73337 0-15.33337-5.6-15.33337-15.3333v-18.6667c0-9.7333 5.6-15.33335 15.33337-15.33335h26.6666c9.7334 0 15.3334 5.60005 15.3334 15.33335v8c0 1.0933-.9067 2-2 2-1.0934 0-2-.9067-2-2v-8c0-7.6267-3.7067-11.3333-11.3334-11.3333h-26.6666c-7.6267 0-11.33337 3.7066-11.33337 11.3333v18.6667c0 7.6266 3.70667 11.3333 11.33337 11.3333h13.3333c1.0933 0 2 .9067 2 2s-.9067 2-2 2z'/%3E%3Cpath d='m32.0007 34.3223c-2.24 0-4.5066-.6933-6.24-2.1066l-8.3467-6.6667c-.8533-.6933-1.0133-1.9466-.3199-2.8.6933-.8533 1.9466-.9866 2.7999-.32l8.3467 6.6667c2.0267 1.6267 5.4667 1.6267 7.4933 0l8.3467-6.6667c.8533-.6933 2.1066-.56 2.8.32.6933.8534.56 2.1333-.32 2.8l-8.3467 6.6667c-1.7067 1.4133-3.9733 2.1066-6.2133 2.1066z'/%3E%3Cpath d='m42.1842 58.0824c-1.0133 0-1.9733-.3733-2.6667-1.0666-.8266-.8267-1.2-2.0267-1.0133-3.2801l.5067-3.6c.1333-.9333.6933-2.0533 1.36-2.72l9.4399-9.44c1.28-1.28 2.5334-1.9466 3.8934-2.08 1.6534-.16 3.3066.5334 4.8533 2.08 1.5467 1.5467 2.24 3.1734 2.08 4.8534-.1333 1.3333-.8267 2.6133-2.08 3.8933l-9.4399 9.44c-.6667.6667-1.7868 1.2267-2.7201 1.36l-3.6.5067c-.2133.0267-.4.0533-.6133.0533zm11.9733-18.2133c-.0266 0-.0533 0-.08 0-.3733.0267-.88.3733-1.44.9333l-9.4399 9.44c-.08.08-.2134.3467-.2134.4534l-.48 3.3333 3.3333-.4801c.1067-.0266.3733-.1599.4533-.2399l9.44-9.44c.56-.5866.9067-1.0667.9334-1.44.0533-.5333-.48-1.1734-.9334-1.6267-.4266-.4267-1.0399-.9333-1.5733-.9333z'/%3E%3Cpath d='m55.7882 48.6689c-.1866 0-.3733-.0266-.5333-.08-3.52-.9866-6.32-3.7866-7.3067-7.3066-.2933-1.0667.32-2.1601 1.3867-2.4801 1.0666-.2933 2.16.3201 2.4533 1.3867.6134 2.1867 2.3466 3.92 4.5333 4.5333 1.0667.2934 1.6801 1.4134 1.3867 2.4801-.24.88-1.04 1.4666-1.92 1.4666z'/%3E%3C/g%3E%3C/svg%3E");
    }

    &--tel::before {
      background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.9864 6.4417C15.918 6.1508 16.8845 6.00244 17.8576 6.00244C22.5348 6.00244 26 10.121 26 14.7786L26 25.2263C26 29.8839 22.5348 34.0024 17.8576 34.0024C16.8845 34.0024 15.918 33.8541 14.9864 33.5632L14.2743 33.3408C14.0312 33.2649 13.7919 33.1807 13.5569 33.0886C17.267 40.6232 23.3793 46.7355 30.9139 50.4456C30.8218 50.2105 30.7375 49.9713 30.6616 49.7281L30.4393 49.016C30.1484 48.0844 30 47.1179 30 46.1448C30 41.4676 34.1186 38.0024 38.7762 38.0024H49.2238C53.8815 38.0024 58 41.4676 58 46.1448C58 47.1179 57.8516 48.0844 57.5607 49.016L57.3384 49.7281C56.0431 53.8764 52.3381 56.8805 47.9062 57.6614C45.3259 58.1161 42.6742 58.1161 40.0938 57.6614C39.9922 57.6435 39.8911 57.6245 39.7903 57.6043C22.8793 54.3506 9.65168 41.1229 6.39815 24.2119C6.37795 24.1112 6.3589 24.0102 6.34102 23.9087C5.88633 21.3283 5.88633 18.6766 6.34102 16.0962C7.12197 11.6643 10.1261 7.95934 14.2743 6.66406L14.9864 6.4417Z' fill='%23494949'/%3E%3Cpath d='M35.2147 10.599C40.339 9.13899 45.919 10.3602 49.7806 14.2219C53.6423 18.0835 54.8635 23.6635 53.4035 28.7878C53.1008 29.8501 53.7166 30.9566 54.7789 31.2593C55.8412 31.562 56.9477 30.9462 57.2504 29.8839C59.0768 23.4737 57.5757 16.3601 52.6091 11.3934C47.6424 6.42679 40.5288 4.92571 34.1186 6.75214C33.0563 7.05482 32.4405 8.16134 32.7432 9.22363C33.0459 10.2859 34.1524 10.9017 35.2147 10.599Z' fill='%23494949'/%3E%3Cpath d='M40.2224 17.8682C41.5719 17.5994 43.2812 18.0526 44.6156 19.3869C45.9499 20.7213 46.4031 22.4306 46.1343 23.7801C45.9186 24.8634 46.6218 25.9165 47.7051 26.1323C48.7884 26.348 49.8415 25.6448 50.0573 24.5615C50.609 21.7912 49.641 18.7555 47.444 16.5585C45.247 14.3615 42.2112 13.3934 39.441 13.9452C38.3577 14.161 37.6545 15.2141 37.8702 16.2974C38.086 17.3807 39.1391 18.0839 40.2224 17.8682Z' fill='%23494949'/%3E%3C/svg%3E%0A");
    }

    &--hours::before {
      background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M24.0794 8.91891C29.2891 7.69687 34.711 7.69687 39.9208 8.91891C47.4443 10.6837 53.3188 16.5582 55.0836 24.0818C56.3057 29.2915 56.3057 34.7134 55.0836 39.9231C53.3188 47.4467 47.4443 53.3212 39.9208 55.086C34.711 56.308 29.2891 56.308 24.0794 55.086C16.5558 53.3212 10.6813 47.4467 8.91654 39.9232C7.69449 34.7134 7.69449 29.2915 8.91654 24.0817C10.6813 16.5582 16.5558 10.6837 24.0794 8.91891ZM32.7356 24.3441C32.7356 23.4604 32.0192 22.7441 31.1356 22.7441C30.2519 22.7441 29.5356 23.4604 29.5356 24.3441V33.7738C29.5356 34.3208 29.8151 34.83 30.2767 35.1237L37.5229 39.7342C38.2685 40.2086 39.2574 39.9888 39.7318 39.2432C40.2061 38.4977 39.9863 37.5088 39.2408 37.0344L32.7356 32.8954V24.3441Z' fill='%23494949'/%3E%3C/svg%3E%0A");
    }

    span {
      display: block;
      font-weight: var(--fw-600);
    }
  }
}