/* stylelint-disable alpha-value-notation */
/* stylelint-disable color-function-notation */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --content-width: 1216px;
  --container-offset: 16px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // font-family
  --font-family-primary: "Inter", sans-serif;

  // font-weight
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;

  // color
  --color-white: #fff;
  --color-black: #1c1c1c;

  --color-gray-700: #494949;
  --color-gray-780: rgba(73, 73, 73, 0.8);
  --color-gray-730: rgba(73, 73, 73, 0.3);
  --color-gray-600: #727272;
  --color-gray-680: rgba(114, 114, 114, 0.8);
  --color-blue-400: #6DB4C1;
  --color-milk-100: #F1F1F1;

  //  radius
  --radius-main: 32px;
  --radius-background: 64px;
  --radius-medium: 24px;
  --radius-round: 50%;

  // shadow
  --shadow-primary: 0px 8px 8px -4px #1118270A;
  --shadow-secondary: 0px 20px 24px -4px #1118271A;

  //gradient
  --gradient-main: linear-gradient(270deg, rgb(241 241 241 / 0%) 0%, rgb(241 241 241) 64%, #f1f1f1 100%, #f1f1f1 100%);
}